body
   {
     background-color: #eaf6f6; 
   }

   hr
   {
       background-color: white;
       border-style: none; 
       border-top-style: none ; /*dotted*/
       border-color: grey;
       border-width: 5px;
       height: 0px;
       width: 5%;
   }

   h1
   {
       color: #41444B;
   }
   h3
   {
       color: #66bfbf;
   }
